.carousel {
    &__card {
        display: flex !important;
        flex-direction: row;
        justify-content: center;

        &--copy-container {
            width: 60%;
            display: inline;
            position: relative;

            &:before {
                content: '“';
            }

            &:after {
                content: '”';
            }
        }

        &--profile-img {
            width: 25%;
            border-radius: 50%;
            display: inline !important;
        }
    }

}

.slick-prev:before,
.slick-next:before {
    color: $grey !important;
    font-size: 30px;
    opacity: 0.45 !important;
    transition: 0.3s all ease-in-out;

    &:hover {
        opacity: 0.75 !important;
    }
}

.slick-next {
    right: -40px !important;
}

.slick-prev {
    left: -40px !important;
}