.carousel {
    padding-bottom: 7%;

    &__card {
        display: flex !important;
        flex-direction: row;
        justify-content: center;
        margin: 5% 0;

        &--copy-container {
            width: 60%;
            display: inline;
            position: relative;
            display: flex;
            justify-content: center;
            flex-direction: column;
            background: $success;
            padding: 3%;
            border-radius: 15px;
            margin-right: 5%;
            font-family: 'Open Sans';

            p {
                margin: 1% 0;
            }

            &:before,
            &:after {
                position: absolute;
                font-size: 55px;
                content: '🐾';
            }

            &:before {
                transform: rotate(-80deg);
                left: -5%;
                top: 5%;
            }

            &:after {
                transform: rotate(110deg);
                bottom: -2%;
                right: -3%;
                color: $orange;
            }
        }

        &--info-name {
            font-weight: bolder;
        }

        &--info,
        &--location {
            text-align: right;
            margin-right: 6% !important;

        }

        &--profile-img {
            width: 25%;
            align-self: center;
            border-radius: 50%;
            display: inline !important;
        }
    }

}

.slick-prev:before,
.slick-next:before {
    color: $grey !important;
    font-size: 30px;
    opacity: 0.45 !important;
    transition: 0.3s all ease-in-out;

    &:hover {
        opacity: 0.75 !important;
    }
}

.slick-next {
    right: -40px !important;
}

.slick-prev {
    left: -40px !important;
}