.common-button {
    border-radius: 15px;
    padding: 2% 5%;
    transition: 0.3s all ease-in-out;
    color: white;
    border: none;
    background: $teal;

    &:hover {
        background: $blue;
    }
}

.logged-out {
    background: white;
    border: 2.5px solid $primary;
    color: $primary;

    &:hover {
        background: white;
        border: 2.5px solid $green;
        color: $green;

    }
}