footer {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans';
    background: lighten($success, 10%);
    padding-top: 4%;
    position: relative;

    .footer {

        &__container {
            display: flex;
            flex-direction: row;
            position: relative;

            .dog-walker {
                opacity: 0.3;
                position: absolute;
                height: 130%;
                z-index: 0;
                right: 0;
                bottom: -10%;
            }
        }

        &__column {
            z-index: 10;
            flex: 1;

            &--title {
                font-family: 'Open Sans';
                font-size: 18px;
                letter-spacing: 0.07em;
                margin-bottom: 5%;
            }

            &--list {
                margin: 0;
                padding: 0;

                &-item {
                    &-link {
                        color: $gray;
                        letter-spacing: 0.03em;
                        line-height: 1.6;
                    }
                }

                p {
                    margin: 4% 0;
                }
            }
        }

        &__copyright {
            border-top: 1px solid $gray;
            margin: 3% auto;

            &--list {
                padding: 0;
                display: flex;
                flex-direction: row;

                &-item {
                    margin-right: 2%;

                    a {
                        color: $gray;
                        letter-spacing: 0.03em;
                    }
                }
            }

            p {
                letter-spacing: 0.04em;
            }
        }
    }

    @media (max-width: 1024px) {

        a,
        p {
            font-size: 1.563vw;
        }

        .footer__column--title {
            font-size: 1.758vw;
        }
    }
}