.wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1240px;

    @media (max-width: 1024px) {
        width: 90%;
    }

    @media (max-width: 620px) {
        width: 95%;
    }
}

header {
    background: $lightBlue;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.mobileOnly {
    display: none;

    @media (max-width: 620px) {
        display: flex;
    }
}

.desktopOnly {
    @media (max-width: 620px) {
        display: none !important;
    }
}