.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10% 0 0;

    &__img {
        width: 55%;
    }

    &__copy-container {
        width: 32%;

        &--title {
            color: $gray-dark;
            font-family: 'Solway';
            font-size: 38px;
        }

        &--text {
            font-family: 'Open Sans';
            font-size: 16px;
            color: $gray-dark;
        }
    }

    @media (max-width: 1024px) {
        padding-top: 15vw;

        &__copy-container {
            width: 40%;

            &--title {
                font-size: 3.711vw;
            }

            &--text {
                font-size: 1.563vw;
            }
        }
    }

    @media (max-width: 620px) {
        padding-top: 30vw;
        flex-direction: column;
        align-items: center;

        &__img {
            width: 100%;
        }

        &__copy-container {
            width: 88%;

            &--title {
                font-size: 6.129vw;
            }

            &--text {
                font-size: 2.581vw;
            }
        }
    }
}

.hero-curve {
    position: relative;
    bottom: -4px;
}