.nav {
    background: white;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    padding: 3% 0;
    color: $blue;

    &__container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    &__img {
        max-width: 60px;
        margin-right: 4%;
    }

    &__logo--title {
        color: $teal;
        font-weight: normal;
        font-family: 'Solway';

        &--span {
            color: $orange;
        }
    }

    &__logo--link {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__list-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}