.nav {
    background: white;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);

    &__container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    &__img {
        max-width: 60px;
    }

    &__list-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}