$teal: #43b9c6;
$lightBlue: #acdee6;
$indigo: #6610f2;
$pink: #e83e8c;
$red: #cb4e4b;
$orange: #f78f1e;
$blue: #0f8790;
$cyan: #acdee6;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$primary: #79be43;
$success: #ddd;
$warning: #6a55a1;
$danger: #cb4e4b;
$yellow: #ffc32f;
$yellow-light: #feed7f;
$green: #79be43;
$yellow-dark: #d4ab2a;
$grey: #555;
$purple: #6a55a1;